*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading_style{
  padding: 30px 0px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #757373;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards{
  width: 100%;
  height: auto;
}

.card{
  /* margin: 105px; */
  margin: 6%;
  transition: all 0.4s cubic-beizer(0.175,0.885,0,1);
  background-color: #fff;
  width: 21%;
  border-radius: 15px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  float: left;
}

.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.05,1.05);
}

.card_img{
  width: 100%;
  height: 235px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;  
}

.card_info{
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  padding: 16px 24px 24px 24px;  
}

.card_category{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card_title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}

/* button{
  padding: 5px 8px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #aabeb9;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px){
  .card{
    float:none;
    margin: 5%;
    width: 90%;
  }
}

.slotmachine{
  border: 2px solid black;
  width: 450px;
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  
}
.slot_inner{
  display: flex;
  align-items: center;
  justify-content: center;  
}


/* div{
  background: #8e44ad;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* button{
  padding: 12px 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
} */

/* input{
  padding: 10px 20px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #757373;
  background-color: #fff;  
  margin-bottom: 30px;
  width: 50%;
  border: none;
  outline: none;
} */

/* h1{
  padding: 10px 0px;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;  
  color: #ffffff;  
  text-shadow: 0px 2px 2px black;
  margin-bottom: 5px;
} */

form{
  width: 100%;
}
p{
  padding: 3px 0px;
}


.main_div{
  /* background: #6983aa; */
  background: #9ce58a;
  width: 100%; 
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.center_div{
  width: 25%;
  /* height: 80vh; */
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
h1{
  color: white;
  background: transparent;
  /* background-color: #8566aa; */
  background-color: #304f6b;
  padding: 6px 0 12px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border:none;
  background: transparent;  
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
button{
  min-height: 40px;
  width: 40px;
  border-radius: 40%;
  border-color: transparent;
  /* background-color: #8566aa; */
  background-color: #30336b;
  color: #fff;
  font-size: 30px;
  border:none;
  outline: none;
  margin: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
button:hover{
  /* background-color: #20bf6b; */
  background-color: #22a6b3;
}
ol{
  margin-top: 30px;
}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #8566aa;
  text-transform: capitalize;
}
.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8566aa;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color:aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.todo_style .fa-times:hover {
  background-color: crimson;  
}

.todo_style .fa-times:hover .list_style {
  background-color: crimson;  
}

@media(max-width:768px){
  .center_div{
    width:55%;
  }
  .todo_style .fa-times{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
  }
}

.btn_green:hover{
  color: #2ed573;
}
.btn_red:hover{
  color: #ff4757;
}

.newBtn{
  width: 40px;
  height: 50x;
  background-color: #22a6b3 !important;
  color: white !important;
  border-radius: 50% !important;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

.newBtn:hover{  
  color: #2ed573;
}


a{
  color:#61dafb;
  outline: none;
  text-decoration: none;
}
a.active_class{
  color: #ffffff;
  border-bottom: 1px solid red;
}
.menu-style{
  width: 100%;
  line-height: 60px;
  background-color: #20232a;
  display: flex;
  justify-content: space-around;  
}

.searchbar{
  width: 50%;
  height:auto;
  margin: 0 auto;
  text-align: center;
}
.searchbar input{
  margin: 30px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}
